html,
body {
    padding: 0;
    margin: 0;
    background: #000;
    font-family: "Poppins", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
    /* --theme-color: #1c4dff;
    --theme-color-hover: #1c91ff;
    --theme-color: #ff4e32;
    --background-color: #000;
    --card-color: #131314;
    --thin-line-color: #fff4;
    --soft-color: #fffa;
    --side-margin: 3vw;
    --nav-height: 11vw;
    --section-margin: 6rem;
    --border-radius: 1.4vw;
    --border-radius-large: 3vw;
    --button-padding-block: clamp(0.5rem, 1vw, 2rem); */

    /* --background-color: #fff;
  --card-color: #e0e0eb;
  --thin-line-color: #0004;
  --soft-color: #000a; */
}

a {
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0;
}
* {
    box-sizing: border-box;
}
html {
    color-scheme: dark;
}
button {
    padding: 0;
    border: none;
    background-color: #0000;
}
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vstack {
    display: flex;
    flex-direction: column;
}
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-in-desktop {
    display: none;
}
.show-in-mobile {
    display: flex;
}

/* .navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 9;
    background: var(--background-color);
    width: 100vw;
    align-items: center;
    height: var(--nav-height);
} */

.nav-dropdown-container {
    background: #000;
    display: flex;
    flex-direction: row;
}

.close-button {
    height: 11vw;
    padding-inline: 2vw;
    display: flex;
    align-items: center;
    border: "none";
}

.nav-bar-text {
    padding-left: 10vw;
    padding-right: 30vw;
    padding-block: 5vw;
    font-size: 6vw;
    font-weight: 300;
    /* font-family: "Roboto Mono"; */
    opacity: 0.5;
    transition: 0.2s ease;
}

.nav-bar-text-active {
    opacity: 1;
}

.hamburger-button-container {
    height: 11vw;
    padding-inline: 2vw;
    display: flex;
    align-items: center;
}

.paragrapgh {
    font-weight: 300;
    font-size: 4.1vw;
    margin-inline: 2vw;
    margin-top: 12vw;
    line-height: 150%;
    z-index: 1;
    opacity: 70%;
}

.subtitle {
    font-weight: 800;
    font-size: 3.4vw;
    margin-inline: 2vw;
    margin-top: 6vw;
    line-height: 200%;
    z-index: 1;
}

.text {
    font-weight: 300;
    font-size: 4.2vw;
    margin-inline: 2vw;
    line-height: 140%;
    z-index: 1;
    opacity: 70%;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
@media (min-width: 800px) {
    :root {
        --side-margin: 6vw;
        --section-margin: 6rem;
        --nav-height: clamp(3rem, 4vw, 4rem);
        --border-radius: 0.4vw;
        --border-radius-large: 1vw;
    }

    .show-in-desktop {
        display: flex;
    }
    .show-in-mobile {
        display: none;
    }

    .paragrapgh {
        font-weight: 300;
        font-size: 1.4vw;
        margin-inline: 3vw;
        margin-top: 6vw;
        line-height: 150%;
        z-index: 1;
        opacity: 70%;
    }

    .subtitle {
        font-weight: 800;
        font-size: 1.2vw;
        margin-inline: 3vw;
        margin-top: 3vw;
        line-height: 200%;
        z-index: 1;
    }

    .text {
        font-weight: 300;
        font-size: 1.4vw;
        margin-inline: 3vw;
        line-height: 140%;
        z-index: 1;
        opacity: 70%;
    }
}
